<div class="home-container">
  <!-- HERO -->
  <section class="hero-section">
    <div class="hero-content">
      <h1 class="title">Bienvenue sur <span>ChatApp</span> 💬</h1>
      <p class="hero-subtitle">
        Discutez en temps réel avec vos amis et collègues grâce à une interface simple et moderne.
      </p>
      <button routerLink="/register" class="button">Commencer</button>
    </div>

    <div class="hero-image">
      <img src="assets/img/hero-image.jpg" alt="Illustration chat en ligne" />
    </div>
  </section>

  <!-- FEATURES -->

  <section class="features-section">
    <div class="feature-card">
      <img src="assets/img/quick-response.png" alt="Temps réel" />
      <h3>Chat instantané</h3>
      <p>Vos messages sont envoyés et reçus en temps réel, sans rechargement.</p>
    </div>

    <div class="feature-card">
      <img src="assets/img/cyber-security.png" alt="Sécurité" />
      <h3>Sécurité</h3>
      <p>Vos échanges sont protégés grâce à l’authentification sécurisée.</p>
    </div>

    <div class="feature-card">
      <img src="assets/img/cross-platform.png" alt="Multi-plateforme" />
      <h3>Multi-plateforme</h3>
      <p>Disponible sur ordinateur, tablette et mobile pour rester connecté partout.</p>
    </div>
  </section>
</div>
